@*@model IEnumerable<AdressBook.Models.Person>*@
@model PagedList.IPagedList<AdressBook.Models.Person>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>

@*<input id="autocomplete">*@





<h2>@Html.Label(ViewBag.Title as string, new { id = "lTitle" })</h2>

<br />
<div class="col-md-9">
    @Html.DropDownList("AdressList", null, htmlAttributes: new { @class = "form-control"})
</div>

<br />
<div id="tableID">

    <div class="col-md-9" id="alAddNewPerson">
        @Html.ActionLink("Add New Person", "Create", new { adressID = ViewBag.AdressID })
    </div>

    @using (Html.BeginForm("Index", "Person", new { adressID = ViewBag.AdressID }, FormMethod.Get))
    {
        @Html.TextBox("searchString", ViewBag.CurrentSearchString as string, new { id = "autocomplete" })
        <input type="hidden" name="adressID" value="@ViewBag.AdressID" />
        <input class="btn btn-default" value="Search" type="submit" />
    }
   
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { adressID = ViewBag.AdressID, sortString = ViewBag.NameSortParam, currentSearchString = ViewBag.CurrentSearchString })
            </th>
            <th>
                @Html.ActionLink("LastName", "Index", new { adressID = ViewBag.AdressID, sortString = ViewBag.LastNameSortParam, currentSearchString = ViewBag.CurrentSearchString })
            </th>
            <th>
                @Html.ActionLink("Gender", "Index", new { adressID = ViewBag.AdressID, sortString = ViewBag.GenderSortParam, currentSearchString = ViewBag.CurrentSearchString })
            </th>
            <th>
                Email
            </th>
            <th>
                @Html.ActionLink("Company", "Index", new { adressID = ViewBag.AdressID, sortString = ViewBag.CompanySortParam, currentSearchString = ViewBag.CurrentSearchString })
            </th>
            <th>
                Phone-1
            </th>
            <th>
                Phone-2
            </th>
            <th>
                Address
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonID }) |
                    @Html.ActionLink("Carry", "Carry", new { id = item.PersonID }) |
                    @Html.ActionLink("Copy", "Copy", new { id = item.PersonID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonID })
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, adressID = ViewBag.AdressID,  sortString = ViewBag.CurrentSortString, currentSearchString = ViewBag.CurrentSearchString }))
</div>

<script>
    $("#autocomplete").autocomplete({
        source: '@Url.Action("Autocomplete", "Person", new { adressID = ViewBag.AdressID })'
    });
</script>


<div>
    @Html.ActionLink("Back to Address Book", "Index", "Adress")
</div>

@*<script type="text/javascript">
    $(function () {
        $("#AdressList").change(function () {
            $.ajax({
                type: "GET",
                url: "/Person/Index",
                data: '{adressID: "' + $("#AdressList").val() + '"}',
                dataType: "html",
                success: function (response) {
                    $("#tableID").html(response);
                }
            });
        });
    });
</script>*@

<script type="text/javascript">
    $(function () {
        $(document).on('change', '#AdressList', function () {
            var addressID = $(this).val();
            var title = $(this).find("option:selected").text();
            var dataToSend = { adressID: addressID }

            $.ajax({
                type: "GET",
                url: "/Person/PartialIndex",
                data: dataToSend,
                dataType: "html",
                success: function (response) {
                    $("#tableID").html(response);
                    $("#lTitle").empty();
                    $("#lTitle").text(title);
                }
            });
        });
    });
</script>