@using MVC_Template.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<head>
    <script>
        function OnProductClick(productID) {
            alert("OnProductClick " + productID);
            window.location.href = "/Product/Details?productID=" + productID;
        }
    </script>
</head>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Hover Rows
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Birim Fiyatı</th>
                                <th>Stok</th>
                                <th>Durum</th>
                                <th>Kategori</th>
                                <th>Tedarikçi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= Model.Count(); i++)
                            {
                                Product product = (Product)Model.ElementAt(i - 1);
                                <tr onclick="OnProductClick(@product.ProductID)">
                                    <td>@i</td>
                                    <td>@product.ProductName</td>
                                    <td>@product.UnitPrice</td>
                                    <td>@product.UnitsInStock</td>
                                    <td>
                                        @if (!product.Discontinued)
                                        {
                                            <span class="label label-success">Sipariş verilebilir</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Sipariş dışı</span>
                                        }
                                    </td>
                                    <td class="warning">@product.Category.CategoryName</td>
                                    <td class="danger">@product.Supplier.ContactName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>