@using MVC_Template.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
    List<int> selectedProducts = new List<int>();
}

<head>
    <script>
        function OnProductClick(productID) {
            window.location.href = "/Product/Details?productID=" + productID;
        }

        function OnNewProductClick() {
            window.location.href = "/Product/Create";
        }

        function OnDeleteProductClick(productID) {
            window.location.href = "/Product/Delete?productID=" + productID;
        }
    </script>

    <style>
        td:hover {
            cursor: pointer;
        }
    </style>
</head>

<div class="row">
    <div class="col-md-12">
        <div class="block container">
            <div class="block-heading">
                <div class="main-text h2">
                    Ürünler
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-plus icon-size-medium" onclick="OnNewProductClick()"></span>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Birim Fiyatı</th>
                                <th>Stok</th>
                                <th>Durum</th>
                                <th>Kategori</th>
                                <th>Tedarikçi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= Model.Count(); i++)
                            {
                                Product product = (Product)Model.ElementAt(i - 1);
                                <tr>
                                    <td onclick="OnProductClick(@product.ProductID)">@i</td>
                                    <td onclick="OnProductClick(@product.ProductID)">@product.ProductName</td>
                                    <td onclick="OnProductClick(@product.ProductID)">@product.UnitPrice</td>
                                    <td onclick="OnProductClick(@product.ProductID)">@product.UnitsInStock</td>
                                    <td onclick="OnProductClick(@product.ProductID)">
                                        @if (!product.Discontinued)
                                        {
                                            <span class="label label-success">Sipariş verilebilir</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Sipariş dışı</span>
                                        }
                                    </td>
                                    <td class="warning" onclick="OnProductClick(@product.ProductID)">@product.Category.CategoryName</td>
                                    <td class="danger" onclick="OnProductClick(@product.ProductID)">@product.Supplier.ContactName</td>
                                    <td>
                                        <button type="button" class="btn btn-danger rounded" onclick="OnDeleteProductClick(@product.ProductID)">Sil</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>