@model AdressBook.Models.ViewModels.User.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    string ErrorMessageForPassword = ViewBag.ErrorMessageForPassword;
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OldPassword, ErrorMessageForPassword, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">    
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-default" /> |
                @Html.ActionLink("Back to Details", "Details")
            </div>
        </div>
    </div>
}