@using MVC_Uygulama1.Models;

@{
    Layout = null;
}

@model IEnumerable<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Ürün Oluştur", "Create")
    <br />
    <table border="1">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok</th>
                <th>Kategori</th>
                <th>Tedarikçi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product urun in Model)
            {
                <tr>
                    <td>@urun.ProductName</td>
                    <td>@urun.UnitPrice</td>
                    <td>@urun.UnitsInStock</td>
                    <td>@urun.CategoryID</td>
                    <td>@urun.SupplierID</td>
                </tr>
            }
        </tbody>
    </table>
    <table border="1">
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th>Tanımı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category kategori in ViewBag.Kategoriler)
            {
                <tr>
                    <td>@kategori.CategoryName</td>
                    <td>@kategori.Description</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
